
@{
    ViewBag.Title = "chinhsachthanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hdmh {
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: rgb(250, 250, 280);
    }

    .huong-dan-mua-hang {
        margin-top: 7%;
        padding-top: 25px
    }

    .contena {
        margin-left: 10px;
        margin-bottom: 50px;
    }
</style>
<div class="section-content relative" style="margin-left:50px;margin-right:50px">
    <div class="huong-dan-mua-hang">
        <div class="hdmh">
            <h1 style="padding-top:25px">Hướng dẫn Thanh Toán</h1>
        </div>
        <div class="contena">
            <div class="col-inner">


                <p><em><strong>Hướng dẫn thanh toán&nbsp;</strong></em></p>
                <p>Sau khi thống nhất đơn hàng với chúng tôi, quý khách có thể thanh toán bằng một trong các cách sau.</p>
                <p><strong>Thanh toán khi nhận hàng – COD (50%)</strong></p>
                <p>– Áp dụng cho các đơn hàng theo hình thức giao hàng thu tiền.</p>
                <p>Quý khách đặt hoa vui lòng cọc trước ít nhất 50%, số tiền còn lại sẽ thanh toán trước khi hoa được giao đi.</p>
                <p><strong>Thanh toán qua chuyển khoản ngân hàng (100%)</strong></p>
                <p>Số tài khoản: 34566868678</p>
                <p>Ngân hàng: MBBANK (Ngân Hàng  Quân Đội)</p>
                <p>Tên người nhận: Đàm Huy mạnh</p>
                <p><img fetchpriority="high" decoding="async" class="alignnone size-medium wp-image-2394 entered lazyloaded" src="https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744-240x300.jpg" alt="" width="240" height="300" data-lazy-srcset="https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744-240x300.jpg 240w, https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744.jpg 430w" data-lazy-sizes="(max-width: 240px) 100vw, 240px" data-lazy-src="https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744-240x300.jpg" data-ll-status="loaded" sizes="(max-width: 240px) 100vw, 240px" srcset="https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744-240x300.jpg 240w, https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744.jpg 430w"><noscript><img fetchpriority="high" decoding="async" class="alignnone size-medium wp-image-2394" src="https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744-240x300.jpg" alt="" width="240" height="300" srcset="https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744-240x300.jpg 240w, https://tiemhoanangthom.com/wp-content/uploads/2024/08/IMG_0744.jpg 430w" sizes="(max-width: 240px) 100vw, 240px" /></noscript></p>
                <p>Quý khách hàng vui lòng cung cấp cho chúng tôi đầy đủ các thông tin như địa chỉ email, số điện thoại, địa chỉ, quý danh,… để có thể nhận và thanh toán đơn hàng khi nhân viên vận chuyển giao hàng.</p>
                <p>Nếu như khách hàng phát hiện ra bất cứ lỗi nào trong các thông tin này, quý khách vui lòng thông báo lại cho chúng tôi để được hỗ trợ kịp thời.</p>
            </div>
        </div>
    </div>

</div>