
@{
    ViewBag.Title = "chinhsachdoitrahang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hdmh {
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: rgb(250, 250, 280);
    }

    .huong-dan-mua-hang {
        margin-top: 7%;
        padding-top: 25px
    }

    .contena {
        margin-left: 10px;
        margin-bottom: 50px;
    }
</style><div class="section-content relative" style="margin-left:50px;margin-right:50px">
    <div class="huong-dan-mua-hang">
        <div class="hdmh">
            <h1 style="padding-top:25px">Chính Sách Đổi Trả</h1>
        </div>
        <div class="contena">
            <div class="col-inner">
                <div class="col-inner">


                    <p>Tại Tiệm Hoa Nàng Thơm sản phẩm cũng như việc giao hàng được quản lý chặt chẽ và đảm bảo diễn ra một cách hoàn hảo. Vì tính chất sản phẩm hoa tươi là rất dễ hư hỏng nên nếu có bất kỳ sơ suất nào, tiệm sẽ luôn lắng nghe những lo lắng, phản hồi của bạn và hợp tác giải quyết vấn đề nhanh nhất có thể. Nhân viên chăm sóc khách hàng của Tiệm Hoa Nàng Thơm được đào tạo để hỗ trợ xử lý các vấn đề của bạn một cách nhanh chóng hiệu quả.</p>
                    <p>
                        <strong>
                            Để khách hàng yên tâm khi mua hàng, chúng tôi có chính sách đổi hàng như sau:<br>
                        </strong>
                    </p>
                    <ol>
                        <li>Chúng tôi&nbsp;không chấp nhận việc trả hàng để lấy tiền mặt trong bất kỳ trường hợp nào.</li>
                        <li>Hoàn tiền trong trường hợp hoa đến tay khách hàng bị dập nát trên 70%.</li>
                        <li>Việc đổi trả chỉ được thực hiện khi sản phẩm bị lỗi hoặc những sự cố phát sinh do lỗi từ phía Shop. Vui lòng liên hệ ngay số <strong>Hotline 0979692245</strong> để phản ánh chất lượng dịch vụ.</li>
                    </ol>
                    <p><strong>Với trường hợp đổi hoa:</strong></p>
                    <ul>
                        <li>Tiệm sẽ gửi bó hoa mới tới địa chỉ quý khách cung cấp hoàn toàn miễn phí</li>
                    </ul>
                    <p><strong>Với trường hợp hoàn trả:</strong></p>
                    <ul>
                        <li>Tiệm sẽ trả bằng tiền mặt trực tiếp tại tiệm hoặc thông qua số tài khoản của quý khách cung cấp.</li>
                    </ul>
                    <p>Địa chỉ tiệm hoa: 5A đường số 54, phường Thảo Điền, TP Thủ Đức, TPHCM</p>
                    <p><strong>Tùy theo mùa vụ</strong> một số loài hoa sẽ không luôn có sẵn tùy khoảng thời gian trong năm và chúng tôi sẽ thực hiện việc thay thế một vài loại hoa khác với màu sắc và giá trị tương đương.</p>
                    <p>Tiệm Hoa luôn cố gắng nỗ lực để sản phẩm tạo ra được đẹp mắt và giống mẫu thiết kế hoặc theo mô tả trong đơn hàng. Các yêu cầu đặc biệt trong mô tả đơn hàng nếu không có xác nhận của tư vấn viên hoặc số lượng hoa sẽ không được đảm bảo.</p>
                    <ul>
                        <li>Việc thay thế có thể được thi hành bằng cách thay thế loại hoa khác và điều chỉnh bố cục hoa để có được thiết kế tương tự theo thứ tự ưu tiên về sở thích màu sắc của khách hàng, phong cách tổng thể và các loại hoa cụ thể.</li>
                        <li>Việc thay thế màu sắc của cùng một loại hoa trong trường hợp thay thế sẽ được thực hiện để bảo đảm màu sắc và hiệu quả thẩm mỹ không bị thay đổi nhiều.Tuy nhiên bố cục sắp xếp hoa một cách hợp lý, có tính thẩm mỹ sẽ được ưu tiên hơn màu sắc.</li>
                    </ul>
                    <p>Để tránh trường hợp gặp khó khăn trong việc cung cấp loại hoa như yêu cầu, Tiệm khuyến khích khách hàng cung cấp một lựa chọn thay thế yêu thích thứ hai.</p>
                    <p>Trong các trường hợp thay thế hoa, chúng tôi sẽ luôn đảm bảo giá trị của đơn hàng thay thế luôn được giữ đúng như đơn hàng gốc.</p>
                    <p>Bất kỳ khiếu nại vể chất lượng xin chụp và gửi một hình ảnh xác nhận khiếu nại của mình là có sơ sở <strong>trong vòng 3 ngày</strong> và chúng tôi sẽ tìm biện pháp giải quyết. Các khiếu nại nhận được quá thời gian quy định trên sẽ được xem xét cụ thể từng trường hợp trên cơ sở cá nhân.</p>
                    <p>Trân trọng cảm ơn!</p>
                    <p><strong>Tiệm Hoa 5 Anh Em Siêu Nhân</strong></p>
                    <p>Địa chỉ: 5A đường số 54, phường Thảo Điền, TP Thủ Đức, TPHCM</p>
                    <p>Hotline: 0979692245</p>
                </div>
            </div>
        </div>
    </div>
</div>

