
@{
    ViewBag.Title = "chinhsachvanchuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hdmh {
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: rgb(250, 250, 280);
    }

    .huong-dan-mua-hang {
        margin-top: 7%;
        padding-top: 25px
    }

    .contena {
        margin-left: 10px;
        margin-bottom: 50px;
    }
</style>
<div class="section-content relative" style="margin-left:50px;margin-right:50px">
    <div class="huong-dan-mua-hang">
        <div class="hdmh">
            <h1 style="padding-top:25px">Chính Sách Vận Chuyển</h1>
        </div>
        <div class="contena">
            <div class="col-inner">

                <div class="col-inner">


                    <p>Hiện tại Tiệm Hoa chỉ nhận đơn hàng trong khu vực Hồ Chí Minh.</p>
                    <p><strong>1. Phương thức vận chuyển</strong></p>
                    <p>Sau khi nhận được thông tin đặt hàng chúng tôi sẽ xử lý đơn hàng trong vòng 2h (chỉ trong khung giờ 9h-16h) và phản hồi lại thông tin cho khách hàng về việc thanh toán và giao nhận.</p>
                    <p>Chúng tôi sẽ giao hàng hóa/ sản phẩm cho quý khách qua dịch vụ vận chuyển của các ứng dụng giao hàng như: Grab, Ahamove, XanhSM theo địa chỉ người nhận hàng mà Quý khách đã đăng ký khi đặt hàng.</p>
                    <p><strong>Thời gian giao hàng:</strong></p>
                    <p>Đối với các đơn hàng tại TP. Hồ Chí Minh (áp dụng với các quận nội thành), Quý khách sẽ nhận được sản phẩm từ 2-4h kể từ khi tiệm xác nhận đơn hàng với quý khách.</p>
                    <p>Nếu quá thời hạn giao hàng đã cam kết mà Quý khách vẫn chưa nhận được sản phẩm đã đặt, Quý khách vui lòng thông báo tới bộ phận Chăm sóc khách hàng của Chúng tôi theo số điện thoại <strong>0927692245</strong> để được hỗ trợ.</p>
                    <p><strong>Phí giao hàng</strong></p>
                    <p>Miễn phí giao hàng<strong> bán kính 3km</strong> cho những đơn hoa có giá trị từ 700k.</p>
                    <p>
                        Phí giao hàng mặc định: 40.000 vnđ<br>
                        Phí giao hàng trong Hồ Chí Minh sẽ tính theo km hoặc trên các ứng dụng giao hàng (Grab, Ahamove, XanhSM) tuỳ vào thời điểm mà Tiệm sẽ chọn đơn vị giao hàng với chi phí tối ưu nhất.
                    </p>
                    <p><strong>2. Chính sách huỷ đơn</strong></p>
                    <p>Quý khách vui lòng liên hệ với Chúng tôi theo số điện thoại&nbsp;<strong>0979692245</strong>&nbsp;để được hỗ trợ hủy đơn hàng với điều kiện dưới đây.</p>
                    <p>– Nếu quý khách hủy đơn hàng trước khi hàng được vận chuyển, thông thường là trong vòng 1 giờ kể từ lúc nhân viên bán hàng liên hệ xác nhận đặt hàng, Chúng tôi sẽ hoàn trả 100% tiền cho những quý khách đã thanh toán sau khi trừ phí chuyển khoản (nếu có)</p>
                    <p>– Nếu quý khách hủy đơn hàng sau khi hàng đã được vận chuyển, hoặc quá thời gian qui định trên, Chúng tôi sẽ KHÔNG chấp nhận hủy đơn hàng</p>
                    <p>Mọi thắc mắc về thủ tục đổi hàng, hủy đơn hàng xin vui lòng liên hệ theo thông tin sau:</p>
                    <p><a href="https://tiemhoanangthom.com">www.tiemhoanangthom.com</a></p>
                    <p>Tiệm Hoa Nàng Thơm</p>
                    <p>Hotline: 0979692245</p>
                    <p>Địa chỉ: 5A Đường số 54, Phường Thảo Điền, TP Thủ Đức, TPHCM</p>
                </div>
            </div>
        </div>
    </div>

</div>