
@{
    ViewBag.Title = "chinhsachbaomat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hdmh {
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: rgb(250, 250, 280);
    }

    .huong-dan-mua-hang {
        margin-top: 7%;
        padding-top: 25px
    }

    .contena {
        margin-left: 10px;
        margin-bottom: 50px;
    }
</style>
<div class="section-content relative" style="margin-left:50px;margin-right:50px">
    <div class="huong-dan-mua-hang">
        <div class="hdmh">
            <h1 style="padding-top:25px">Chính Sách Bảo Mật</h1>
        </div>
        <div class="contena">
            <div class="col-inner">
                <div class="col-inner">


                    <p>Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách website thu thập và sử dụng thông tin cá nhân của mình thông qua việc sử dụng trang web, khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm thông tin dịch vụ từ 5anhemsieunhan.com.</p>
                    <h2>1. Việc thu thập dữ liệu chủ yếu trên web 5anhemsieunhan.com bao gồm: email, điện thoại, địa chỉ khách hàng.</h2>
                    <p>Đây là các thông tin mà 5anhemsieunhan.com cần người mua cung cấp bắt buộc khi sử dụng dịch vụ.</p>
                    <p>Ngoài ra còn giúp 5anhemsieunhan.com:</p>
                    <p>+ Nắm bắt được các yêu cầu, mong muốn của khách hàng nhằm nâng cao chất lượng sản phẩm .</p>
                    <p>+ Giúp khách hàng cập nhật các thông tin chương trình khuyến mại, giảm giá do chúng tôi tổ chức sớm nhất.</p>
                    <p>+ Hỗ trợ khách hàng khi có khiếu nại, ý kiến một cách nhanh nhất.</p>
                    <p>Đảm bảo tối đa quyền lợi cho khách hàng.</p>
                    <p>Khách hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ, mật khẩu và hộp thư điện tử của mình.</p>
                    <h2>2. Phạm vi sử dụng thông tin:</h2>
                    <p>5anhemsieunhan.com sử dụng thông tin khách hàng cung cấp để:</p>
                    <p>– Cung cấp các dịch vụ đến khách hàng;</p>
                    <p>– Liên lạc và giải quyết với khách hàng trong những trường hợp đặc biệt.</p>
                    <p>-Cam kết không sử dụng thông tin cá nhân của khách hàng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại 5anhemsieunhan.com.</p>
                    <p>5anhemsieunhan.com sẽ không chia sẻ thông tin khách hàng trừ những trường hợp cụ thể sau đây:</p>
                    <p>Trong trường hợp có yêu cầu của pháp luật: 5anhemsieunhan.com có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của khách hàng;</p>
                    <h2>3. Thời gian lưu trữ thông tin:</h2>
                    <p>Dữ liệu cá nhân của khách hàng sẽ được lưu trữ và bảo mật trên máy chủ của 5anhemsieunhan.com cho đến khi có yêu cầu hủy bỏ từ khách hàng.</p>
                    <h2>4. Những người hoặc tổ chức có thể được tiếp cận với thông tin</h2>
                    <p>Chúng tôi chỉ sử dụng thông tin khách hàng vào những việc được sự đồng ý chấp thuận của khách hàng. Chỉ cung cấp thông tin của khách hàng khi nó có lợi với khách hàng và được sự cho phép của khách hàng.</p>
                    <p>Tuyệt đối không cung cấp thông tin cho một bên thứ 3 nếu không được khách hàng đồng ý trừ một số trường hợp sau:</p>
                    <p>– Được sự cho phép của khách hàng</p>
                    <p>– Theo yêu cầu của các cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra khi xác nhận được việc làm đó là hợp pháp và không vi phạm pháp luật nhà nước Việt Nam.</p>
                    <h2>5. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</h2>
                    <p>Tên đơn vị: Công Ty TNHH TM&amp;DV HMEDIA chủ sở hữu 5anhemsieunhan.com</p>
                    <p>Giấy chứng nhận đăng ký kinh doanh số:&nbsp;0317211218</p>
                    <p>Cấp ngày ngày&nbsp;22 tháng&nbsp;03 năm 2022</p>
                    <p>Địa chỉ GPKD: 14 Phan Tôn, Đakao, Quận 1, HCM</p>
                    <p>Điện thoại:&nbsp;0979692245</p>
                    <h2>6.Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</h2>
                    <p>Khách hàng có thể thực hiện các quyền trên bằng cách liên hệ với chúng tôi qua số điện thoại hoặc địa chỉ liên lạc được công bố trên website 5anhemsieunhan.com</p>
                    <p>– Điện thoại:&nbsp;0979692245</p>
                    <p>– Địa chỉ cửa hàng: 5A Đường số 54 Phường Thảo Điền, TP Thủ Đức, TP HCM</p>
                </div>
            </div>
        </div>
    </div>

</div>