
@{
    ViewBag.Title = "huongdanmuahang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hdmh {
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: rgb(250, 250, 280);
    }

    .huong-dan-mua-hang {
        margin-top: 7%;
        padding-top: 25px
    }

    .contena {
        margin-left: 10px;
        margin-bottom: 50px;
    }
</style>
<div class="section-content relative" style="margin-left:50px;margin-right:50px">
    <div class="huong-dan-mua-hang">
        <div class="hdmh">
            <h1 style="padding-top:25px">Hướng dẫn mua hàng</h1>
        </div>
        <div class="contena">
            <div class="col-inner">


                <h2>Hướng dẫn mua hàng</h2>
                <p>Khách hàng có thể trực tiếp mua hàng online trên website chính thức của <a href="https://tiemhoanangthom.com">Tiệm Hoa Nàng Thơm</a>.</p>
                <p>Nếu như sản phẩm còn hàng trong kho, bên dưới sản phẩm sẽ có nút “Thêm vào giỏ”. Khách hàng chỉ cần ấn vào và xác nhận mua hàng. Sau đó hệ thống sẽ tự động báo email xác nhận đến cho quý khách. Bộ phận kinh doanh bên công ty sau khi nhận được đơn sẽ liên hệ với quý khách trong thời gian sớm nhất.</p>
                <p>Khách hàng có thể liên hệ trực tiếp cho shop thông qua các kênh Hotline, Facebook, Zalo, Instagram để được tư vấn kỹ hơn theo yêu cầu và ngân sách.</p>
                <ul>
                    <li>Hotline: 097 969 2245</li>
                    <li>Facebook: <a href="https://m.me/tiemhoanangthom" target="_blank">https://m.me/tiemhoanangthom</a></li>
                    <li>Zalo: <a href="https://zalo.me/0979692245" target="_blank" rel="noopener">https://zalo.me/0979692245</a></li>
                    <li>Instagram: <a href="https://www.instagram.com/tiemhoanangthom" target="_blank" rel="noopener">https://www.instagram.com/tiemhoanangthom</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>