
@{
    ViewBag.Title = "trachnhiemdoiben";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hdmh {
        text-align: center;
        width: 100%;
        height: 100px;
        background-color: rgb(250, 250, 280);
    }

    .huong-dan-mua-hang {
        margin-top: 7%;
        padding-top: 25px
    }

    .contena {
        margin-left: 10px;
        margin-bottom: 50px;
    }
</style><div class="section-content relative" style="margin-left:50px;margin-right:50px">
    <div class="huong-dan-mua-hang">
        <div class="hdmh">
            <h1 style="padding-top:25px">
                Phân định trách nhiệm các bên
            </h1>
        </div>
        <div class="contena">
            <div class="col-inner">


                <div class="row" id="row-848256553">

                    <div id="col-114466562" class="col small-12 large-12">
                        <div class="col-inner">
                            <p><strong>Phân định trách nhiệm của thương nhân, tổ chức cung ứng dịch vụ logistics về cung cấp chứng từ hàng hóa trong quá trình giao nhận.</strong></p>
                            <p>Bên vận chuyển được hiểu là các đơn vị vận chuyển trung gian hợp tác vớ Paragon vận chuyển hành hóa tới khách hàng như: Ahmove, Grab Express, XanhSM</p>
                            <p><strong>Nghĩa vụ của bên vận chuyển</strong></p>
                            <p>– Bảo đảm vận chuyển đầy đủ hàng hoá, an toàn đến địa điểm đã định, theo đúng thời hạn.</p>
                            <p>– Giao hàng hoá cho người có quyền nhận.</p>
                            <p>– Các chi phí liên quan đến việc chuyên chở hàng hoá thanh toán theo thỏa thuận.</p>
                            <p>– Bồi thường thiệt hại cho bên thuê vận chuyển trong trường hợp bên vận chuyển để mất, hư hỏng hàng hoá, trừ trường hợp có thỏa thuận khác hoặc pháp luật có quy định khác.</p>
                            <p><strong>Quyền của bên vận chuyển</strong></p>
                            <p>– Kiểm tra sự xác thực của hàng hoá, của vận đơn hoặc chứng từ vận chuyển tương đương khác.</p>
                            <p>– Từ chối vận chuyển hàng hoá không đúng với loại tài sản đã thỏa thuận trong hợp đồng.</p>
                            <p>– Yêu cầu bên thuê vận chuyển thanh toán đủ cước phí vận chuyển đúng thời hạn.</p>
                            <p>– Từ chối vận chuyển hàng hoá cấm giao dịch, hàng hoá có tính chất nguy hiểm, độc hại.</p>
                            <p><strong>Nghĩa vụ của bên thuê vận chuyển</strong></p>
                            <p>– Trả đủ tiền cước phí vận chuyển cho bên vận chuyển theo đúng thời hạn, phương thức đã thỏa thuận.</p>
                            <p>– Cung cấp thông tin cần thiết liên quan đến hàng hoá vận chuyển để bảo đảm an toàn cho hàng hoá vận chuyển.</p>
                            <p><strong>Quyền của bên thuê vận chuyển</strong></p>
                            <p>– Yêu cầu bên vận chuyển chuyên chở hàng hoá đến đúng địa điểm, thời điểm đã thỏa thuận.</p>
                            <p>– Trực tiếp hoặc chỉ định người thứ ba nhận lại hàng hoá đã thuê vận chuyển.</p>
                            <p><strong>Trách nhiệm bồi thường thiệt hại</strong></p>
                            <p>– Bên vận chuyển phải bồi thường thiệt hại cho bên thuê vận chuyển nếu để hàng hoá bị mất hoặc hư hỏng.</p>
                            <p>– Bên thuê vận chuyển phải bồi thường thiệt hại cho bên vận chuyển và người thứ ba về thiệt hại do hàng hoá vận chuyển có tính chất nguy hiểm, độc hại mà không có biện pháp đóng gói, bảo đảm an toàn trong quá trình vận chuyển.</p>
                            <p>– Trường hợp bất khả kháng dẫn đến hàng hoá vận chuyển bị mất, hư hỏng hoặc bị hủy hoại trong quá trình vận chuyển thì bên vận chuyển không phải chịu trách nhiệm bồi thường thiệt hại, trừ trường hợp có thỏa thuận khác hoặc pháp luật có quy định khác.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

